* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #compo {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 130px 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    position: relative;
    overflow: hidden;
  }
  
  app-parent {
    width: 1fr;
    height: 900px;
    grid-column: 1;
    grid-row: 1;
    background: pink;
  }
  
  #button {
    width: 130px;
    height: 50px;
    grid-column: 2;
    grid-row: 1;
    cursor: pointer;
    border: 2px solid dimgray;
    background: lightgray;
    display: grid;
    font-size: 20px;
    align-items: center;
  }
  
  app-child {
    width: 1fr;
    height: 900px;
    grid-column: 3;
    grid-row: 1;
    background: red;
  }
  
  app-dialog {
    width: 50%;
    height: 200px;
    position: absolute;
    background: lavender;
    border: 2px solid black;
    top: -100px;
    right: 200px;
  }
  
  #compo.blur {
    pointer-events: none;
    filter: blur(3px);

  }
  